/* .bodycolor {
  background-color: black;
} */
.logo {
  font-size: 100px;
  display: flex;
 align-content: flex-start;
 color: white;
 font-family: 'Baloo Paaji', cursive;
padding-left: 40px;
padding-top: 23px;
text-shadow: 0 0 5px black;
}
.header-buttons {
  display: flex;
  color: white; 
  font-family: 'Baloo Paaji', cursive;
  font-size: 28px;
  height: 1.5in;
  text-shadow: 0 0 12px black;
justify-content: flex-end;
justify-content: space-between;
align-items: flex-end;
}
.title {
  color: white;
  font-family: 'Baloo Paaji', cursive;
  font-size: 80px;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Baloo Paaji', cursive;
  color: black;
}
.buffer{
  padding-bottom: 5vh;
}
.contact {
  padding-right: 45px;
 
}
.bg {
  background-image: url("https://b.kisscc0.com/20180517/ufe/kisscc0-computer-programming-computer-software-programming-5afd6ddd88e210.8758423315265581735607.jpg");
height: 7.2in;
background-size: cover;
}
.about-para {
  text-align: center;
}
.badges {
  height: 4.5in;
}
h1 {
  padding-top: 22px;
  text-align: center;
  /* text-shadow: 0 0 10px white; */
  font-family: 'Baloo Paaji', cursive;

}
h2 {
  color: black;
  font-family: 'Baloo Paaji', cursive;
}
.badges13 {
  font-size: 1in;
display: flex;

}
.badges2 {
  font-size: 1in;
  display: flex;
  
}
.bg-body {
  background-color: #edeeef;
}

/* .footer {
height: 3in;
background-color: white;
color: black;
} */
h3 {
  color: white;
  font-family: 'Baloo Paaji', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-shadow: 0 0 10px white; */
}
.about {
display: flex; 
justify-content: center;
align-items: center;
}
.badges-align13 {
display: flex;
justify-content: center;
}
.badges-align2 {
display: flex;
justify-content: center;
}
.projects-bg {
  background-color: white;
}
.projTitle {
  background-color: white;
}
.img-fluid {
 object-fit: fill;
 width: 100%;
 height: 100%;

}
.no-gutter {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.icons {
  display: flex;
  justify-content: center;
font-size: .61in;
color: cornflowerblue;

}
.smIcons {
display: inline;
font-size: .61in;
}
a:link {
  font-family: 'Baloo Paaji', cursive;
color: cornflowerblue;
text-shadow: none;
}
.footer-cols{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  /* margin-bottom: 0; */

}
.anchors {
  color: white;
  display: flex;
 justify-content: center;
 align-items: flex-start;
 align-content: space-between;
padding-top: 20px;

}

.links {
  display: flex;
  flex-direction: row;
  font-family: 'Baloo Paaji', cursive;
  color: white;
  font-size: 25px;
  margin-top: 10px;
}
a:hover {
  color: cornflowerblue;
}

#aboutMe {
  height: 7.6in;
  background-color: cornflowerblue;
}


.footer {
  height: 2.3in;
  background-color: cornflowerblue;
}
.aboutText {
  height: 100%;
}
.picture{
display: flex; 
justify-content: center;
align-items: center;
height: 100%;
}
.aboutRow {
  height: 100%;
  display: flex; 
justify-content: center;
align-items: center;

}
.text {
font-family: 'Baloo Paaji', cursive;


}
.contacts {
  font-size: 20px;
  margin-top: 10px;
  color: cornflowerblue;
}
#contact {
  background-color: black;
}
.connect {
  margin-top: 13px;
  color: cornflowerblue;
}
