
.logo {
  /* font-size: 100px;
  display: flex;
 align-content: flex-start;
 color: white;
 font-family: 'Baloo Paaji', cursive;
padding-left: 40px;
padding-top: 23px;
text-shadow: 0 0 5px black; */
height: 1.5in;
margin-top: 16px;
margin-left: 15px;
}
.header-buttons {
  display: flex;
  color: white; 
  font-family: 'Baloo Paaji', cursive;
  font-size: 28px;
  height: 1.5in;
  text-shadow: 0 0 12px black;
justify-content: flex-end;
justify-content: space-between;
align-items: flex-end;
}
.name {
  color: #d9d9d9;
  font-family: 'Baloo Paaji', cursive;
  font-size: 120px;
  display: flex;
  justify-content: center;
  text-shadow: 4px 4px  black;
}

.title {
  color: #d9d9d9;
  font-family: 'Baloo Paaji', cursive;
  font-size: 75px;
  display: flex;
  justify-content: center;
   text-shadow: 4px 4px  black;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Baloo Paaji', cursive;
  color: black;
}
.buffer{
  padding-bottom: 5vh;
}
.contact {
  padding-right: 45px;
 
}
.bg {
  background-image: url("https://b.kisscc0.com/20180517/ufe/kisscc0-computer-programming-computer-software-programming-5afd6ddd88e210.8758423315265581735607.jpg");
height: 7.2in;
background-size: cover;
}
.about-para {
  text-align: center;
}
.badges {
  height: 4in;
}
h1 {
  padding-top: 22px;
  text-align: center;
  font-family: 'Baloo Paaji', cursive;
color: black;
/* text-shadow: 1px 1px black; */
}
h2 {
  color: black;
  font-family: 'Baloo Paaji', cursive;
}
.badges13 {
  font-size: 1in;
display: flex;

}
.badges2 {
  font-size: 1in;
  display: flex;
  
}
.bg-body {
  background-color: #d9d9d9;
}

/* .footer {
height: 3in;
background-color: white;
color: black;
} */
h3 {
  color: #d9d9d9;
  font-family: 'Baloo Paaji', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-shadow: 0 0 10px white; */
}
.about {
display: flex; 
justify-content: center;
align-items: center;
}
.badges-align13 {
display: flex;
justify-content: center;

}
.badges-align2 {
display: flex;
justify-content: center;
margin-top: 15px;
margin-bottom: 15px;
}
.projects-bg {
  background-color: white;
}
.projTitle {
  background-color: white;
}
.img-fluid {
 object-fit: fill;
 width: 100%;
 height: 100%;
}
.no-gutter {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.icons {
  display: flex;
  justify-content: center;
font-size: .61in;
/* color: cornflowerblue; */
color: black;

}
.smIcons {
display: inline;
font-size: .61in;
color: black;
}
a:link {
  font-family: 'Baloo Paaji', cursive;
/* color: cornflowerblue; */
color: #d9d9d9;
text-shadow: none;
}
.footer-cols{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  /* margin-bottom: 0; */

}
.anchors {
  color: #d9d9d9;
  display: flex;
 justify-content: center;
 align-items: flex-start;
 align-content: space-between;
padding-top: 20px;
 text-shadow: 2px 2px  black;
}

.links {
  display: flex;
  flex-direction: row;
  font-family: 'Baloo Paaji', cursive;
  color: #d9d9d9;
  font-size: 35px;
  margin-top: 10px;
   text-shadow: 4px 4px  black;
}
a:hover {
  color: cornflowerblue;
}
i:hover {
  color: cornflowerblue;
}

#aboutMe {
  height: 7.6in;
  background-color: cornflowerblue;
}


.footer {
  height: 2.3in;
  background-color: cornflowerblue;
}
.aboutText {
  height: 100%;
}
.picture{
display: flex; 
justify-content: center;
align-items: center;
height: 100%;
}
.aboutRow {
  height: 100%;
  display: flex; 
justify-content: center;
align-items: center;

}
.text {
font-family: 'Baloo Paaji', cursive;
margin-right: 50px;
color: #d9d9d9;
text-shadow: 1.5px 1.5px  black;
}
.contacts {
  font-size: 20px;
  margin-top: 10px;
  /* color: cornflowerblue; */
  color: black;
  
}
#contact {
  background-color: #d9d9d9;
}
.connect {
  margin-top: 13px;
  /* color: cornflowerblue; */
  color: black;
}
.picture {
  height: 350px;
  width: 350px;
  border-radius: 40%;
  border: 10px solid #d9d9d9;
  margin-left: 50px;
}
.languages {
  height: 5in;
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 20px;
  }
}



.container {
  position: relative;
  width: 50%;
}
.image {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.overlay {
 
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #d9d9d9;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.container:hover .overlay {
  bottom: 0;
  height: 100%;
 
}
/* .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
} */
.texts {
  white-space: nowrap; 
  color: black;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
